/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 1.3rem;
    margin: 2.1rem;
  }
  
  article {
  
  }
  
  h1 {
    font-size: 1.5rem;
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
      margin: 15px;
  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media (min-width: 800px) {
    body { 
        background-color: red;
        font-size: 2rem;
        margin: 3.3rem;
    }
    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    figure {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    figure figcaption {
        text-align: center;
    }

    figure {
        width: 45%;
        margin-right: 20px;
    }
  }

  @media (min-width: 1100px) {
      body {
          background-color: aquamarine;
          font-size: 2.8rem;
          margin: 4.5rem;
          max-width: 1200px;
          margin-left: 10%;
      }
  }