html {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

header p {
    align-self: center;
    text-align: center;
    width: 100%;
    font-size: 3.5rem;
    font-family: 'Abril Fatface', cursive;
    max-width: 475px;
    margin-top: 20px;
}

nav ul {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
}

.aside-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 570px;
    margin: 40px 0;
}

.aside-one h2 {
    align-self: flex-start;
    font-weight: 500;
}

.aside-one ul {
    list-style: none;
}

.aside-one ul li {
    line-height: 160%;
}

.aside-two {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 495px;
    align-self: center;
    width: 80%;
    margin: 20px auto;
}

.aside-two ul {
    list-style: none;
    align-self: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    text-align: left;
    margin: 0px 1.9rem 10px 1.9rem;
}

.aside-two h2 {
    font-weight: 700;
    margin: 10px 0 10px 1rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    line-height: 185%;
}

.main-content h1 {
    text-align: center;
    font-weight: 500;
}

.main-content h2  {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.main-content p {
    text-align: justify;
}

footer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 495px;
    width: 80%;
    margin: 20px auto;
}

footer h3 {
    font-weight: 700;
    margin: 10px 0 10px 1rem;
}

footer p {
    align-self: center;
    text-align: justify;
    font-size: 1.1rem;
    margin: 0px 1.9rem 10px 1.9rem;
}

@media screen and (max-width: 600px) {

    nav {
        margin: 1rem;
        font-size: 1.2rem;
    }

    .aside-one h2 {
        margin-left: 1.5rem;
        margin-bottom: 15px;
        font-size: 2.1rem;
    }

    .aside-one ul {
        font-size: 1.2rem;
        line-height: 25px;
    }

    .main-content h1 {
        margin-top: 55px;
        margin-bottom: 8px;
        font-size: 1.4rem;
    }

    .main-content h2 {
        margin-bottom: 25px;
        font-size: 2rem;
    }

    .main-content p {
        margin: 0 1.5rem 10px 1.5rem;
        font-size: 1.2rem;
        text-indent: 17px;
    }

    .main-content p:nth-of-type(1)::first-letter {
        font-size: 2rem;
        /* float: left;
        padding: 0 .3rem;
        margin: 0 .3rem 0 0;
        line-height: 1; */
    }
}

@media screen and (min-width: 601px) and (max-width: 999px) {

    header p {
        font-size: 4rem;
    }

    nav {
        margin: 1.25rem;
        font-size: 1.4rem;
    }

    .aside-one h2 {
        margin-left: 1.5rem;
        margin-bottom: 15px;
        font-size: 2.3rem;
    }

    .aside-one ul {
        font-size: 1.4rem;
        line-height: 25px;
    }

    .main-content h1 {
        margin-top: 75px;
        margin-bottom: 22px;
        font-size: 1.6rem;
    }

    .main-content h2 {
        margin-bottom: 35px;
        font-size: 2.3rem;
    }

    .main-content p {
        margin: 0 2.05rem 1rem 2.05rem;
        font-size: 1.4rem;
        text-indent: 27px;
        line-height: 205%;
        max-width: 660px;
    }

    .main-content p:nth-of-type(1)::first-letter {
        font-size: 2.3rem;
        /* float: left;
        padding: 0 .3rem;
        margin: 0 .3rem 0 0;
        line-height: 1; */
    }
}

@media screen and (min-width: 1000px) {

    header p {
        font-size: 4.5rem;
    }

    nav {
        margin: 1.25rem;
        font-size: 1.4rem;
    }

    .aside-one h2 {
        /* margin-left: 1rem; */
        margin-bottom: 15px;
        font-size: 2.6rem;
    }

    .aside-one ul {
        font-size: 1.55rem;
        line-height: 25px;
    }

    .main-content h1 {
        margin-top: 75px;
        margin-bottom: 22px;
        font-size: 1.85rem;
    }

    .main-content h2 {
        margin-bottom: 35px;
        font-size: 2.6rem;
    }

    .main-content p {
        margin: 0 2.05rem 1rem 2.05rem;
        font-size: 1.7rem;
        text-indent: 37px;
        line-height: 205%;
        max-width: 800px;
    }

    .main-content p:nth-of-type(1)::first-letter {
        font-size: 2.8rem;
        /* float: left;
        padding: 0 .3rem;
        margin: 0 .3rem 0 0;
        line-height: 1; */
    }
}
